*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
	
}
html {
    scroll-behavior: smooth;
  }

/*About me Section */

.about_me {
	position:relative;

	margin-top: 80px;
    height: 600px;
	image-rendering: auto;
   background-image:url("images/n8.jpg");
	display: flex;
	flex-wrap: wrap-reverse;
    
    
}


.sm{
	
	width: 80px;
	
	
	
	text-align: center;
	color:black;
   padding-top:120px;
}

.sm a img{
	margin:7px;
	background-color: white;
	padding-top: 15px;
	padding-bottom: 25px;
	padding-left:4px;
	padding-right:4px;
	border-radius: 10px;
	margin: 0px;
}
.sm a img:hover{
	background-color: rgb(249, 249, 100);
 
}

.aboutbtn{
	font-size: 20px;
	margin-inline: 20px;
	margin-top: 10px;
	padding: 10px;
	padding-left: 20px;
	padding-right:20px;
	border-radius: 12px;
	background-color: rgb(249, 249, 100);
	
}
@keyframes example {
	0%{color:black;}
	25%  {color: rgb(71, 184, 199);}
	50%  {color: rgb(0, 0, 0);}
	100% {color: rgb(88, 206, 222);}
  }

 
.aboutbtn:hover{
	font-size: 25px;
	margin-inline: 20px;
	margin-top: 10px;
	padding: 10px;
	background-color: rgb(249, 249, 100);
	border-radius: 5px;
}


.about{
	width:93.5%;
	text-align: center;
	
	
}



.h{
	
	padding-top: 60px;
	padding-bottom:30px;
}
.about h3{
	font-size: 55px;
	font-family:'Courier New', Courier, monospace;
	overflow:hidden;
  animation:typing 3s steps(15,end) forwards,
            blink 1s infinite;
  
   animation-iteration-count: 1;
	padding-bottom:25px;
}

@keyframes typing {
	0% { width:0% }
	100% { width:100% }
  }
  @keyframes blink {
	0%,100% {
	  border-right:1px solid transparent;
	}
	50% {
	  border-right:1px solid #222;
	}
  }
.about p{
	font-size: 30px;
	animation-name: example;
   font-family:'Lucida Sans';
  animation: 3s  forwards;
   animation-iteration-count: infinite;
	padding:8px;
	margin-left:10px;
	margin-right:30px;
	padding-bottom: 23px;
}
@media(max-width:1024px){
			
	.sm{
		display:none;
		}
	
	.about{
		width:100%;
		text-align: center;
		height: auto;

		
	}
	.about p{
		margin-top: 4px;
		font-size: 23px;
		
		margin-bottom:3px;
	}
	.about h3{
		font-size: 26px;
		overflow:hidden;
  animation:typing 3s steps(15,end) forwards,
            blink 1s infinite;
  
   animation-iteration-count: 1;
		
		padding-bottom:13px;
	}
	.aboutbtn{
		font-size: 20px;
		margin-inline: 20px;
		margin-top: 45px;
		padding-top: 10px;
	}
	.aboutbtn:hover{
		size: 30px;
		margin-inline: 20px;
		margin-top: 45px;
		padding-top: 10px;
		background-color: rgb(249, 249, 100);
	}
	@keyframes typing {
		0% { width:0% }
		100% { width:100% }
	  }
	  @keyframes blink {
		0%,100% {
		  border-right:1px solid transparent;
		}
		50% {
		  border-right:1px solid #222;
		}
	  }
}

/*About me Section  End*/

/*Education Section Start*/
.Education {
	position: relative;
	
    height: 650px;
    background-image:url("images/n7.jpg");
    display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	gap: 20px;
	
	padding-left: 30%;
	padding-right: 30%;
	
    
}

.edu1{
	background-color: rgb(247, 247, 156);
   	padding:10px;
   margin:2%;
   border-radius: 7px;
   border-color: #000000;
   border-style: double;
  
  
}

.edu2{
	background-color: rgb(247, 247, 156);
   	padding:10px;
   margin:2%;
   border-radius: 7px;
   border-color: #000000;
   border-style: double;
}

.edu3{
	background-color: rgb(247, 247, 156);
	padding:10px;
margin:2%;
border-radius: 7px;
border-color: #000000;
border-style: double;
	
}

.Education h1{
	text-align: center;
	padding-top: 8%;
	margin-top: 38px;
	font-size: 44px;
}

@media(max-width:1024px){
	.Education {
		position: relative;
		
		height: 750px;
		background-image:url("images/n7.jpg");
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		gap: 20px;
		padding-left: 20%;
		padding-right: 20%;
		padding-bottom: 35px;
		
		
	}
	.edu1{
		background-color: rgb(246, 246, 144);
		 
	   margin:1%;
	   border-radius: 7px;
	   border-color: #000000;
	   border-style: double;
	  
	  
	}
	
	.edu2{
		background-color: rgb(246, 246, 144);
		
	   margin:1%;
	   border-radius: 7px;
	   border-color: #000000;
	   border-style: double;
	}
	
	.edu3{
		background-color: rgb(246, 246, 144);
		
	   margin:1%;
	   border-radius: 7px;
	   border-color: #000000;
	   border-style: double;
		
	}

	.Education h2{
		font-size: 20px;
		
	}

	.Education h4{
		margin-top:5px;
		margin-bottom:5px;
       font-size: 15px;
	}

}



/*Education Section End*/

/*Skills section start*/
.Skills {
	position: relative;
	
   
    background-image: url(images/n7.jpg);
    
    
}

.Skills h1{
	font-size: 50px;
	text-align: center;
	padding-top: 6%;
}
.hr1{
	width: auto;
	margin-left: 35%;
	margin-right: 35%;
	margin-top: 5px;
	background-color: #2e1f1f;
	height: 10px;
	align-items: center;
}

.P1{
	text-align: center;
	margin-top: 15px;
	font-size: 30px;
}

.about_flex{
      height:auto;
	  width: 100%;
	  display:flex;
	 margin-top: 25px;
	  flex-direction: row;
	  flex-wrap: wrap;
	  gap: 10px;
	  
}
.about_data{
	width:49%;
	height:400px;
	background-color: rgb(255, 255, 255);
	margin-bottom:10px;
	margin-left: 7px;
	border-radius: 9px;
}

.about_data h2{
margin:7px;
font-size: 30px;
font-family:'Courier New', Courier, monospace;
}

.about_data p{
	font-size: 20px;
	margin:10px;
	
}

.about_data button{
	

	font-size: 20px;
	margin-inline: 20px;
	margin-top: 10px;
	padding: 10px;
	border-radius: 5px;
	background-color: rgb(247, 247, 156);

}
.about_data button:hover{
	

	font-size: 25px;
	margin-inline: 20px;
	margin-top: 10px;
	padding: 10px;
	background-color: yellow;
	border-radius: 5px;
	

}

.about_skills{
	width:49%;
    margin-bottom:10px;
	background-color: rgb(255, 255, 255);
	height:400px;
	border-radius: 9px;
}

.about_skills h2{
	margin:7px;
	font-size: 30px;
	font-family:'Courier New', Courier, monospace;
	}

	.about_skills h4{
		margin:10px;
		float:left;
		font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
		font-size: 23px;
		background-color: rgb(248, 245, 245);
		border-radius: 5px;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 15px;
		padding-right: 15px;
	}



@media(max-width:1024px){
  
	.p1{
		text-align: center;
		margin-top: 15px;
		font-size: 17px;
	}
	.Skills h1{
		font-size: 30px;
		text-align: center;
		padding-top: 6%;
	}
	.hr1{
		width: auto;
		margin-left: 20%;
		margin-right: 20%;
		margin-top: 5px;
		background-color: #2e1f1f;
		height: 10px;
		align-items: center;
	}
	.about_flex{
		height:auto;
		width: 100%;
		display:flex;
	   margin-top: 25px;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 10px;
		
  }
	.about_data{
		width:98%;
		height:450px;
		background-color: #f2f2f2;
		margin-bottom:2px;
	
		margin-left: 1%;
		margin-right:1%;
	}
	.about_data h2{
		margin:7px;
		font-size: 25px;
		font-family:'Courier New', Courier, monospace;
		}
		
		.about_data p{
			font-size: 15px;
			margin:10px;
			
		}
		
		.about_data button{
			
		
			font-size: 20px;
			margin-inline: 20px;
			margin-top: 10px;
			padding: 10px;
			border-radius: 5px;
			
		
		}
		.about_data button:hover{
			
		
			font-size: 25px;
			margin-inline: 20px;
			margin-top: 10px;
			padding: 10px;
			background-color: #58a8b8;
			border-radius: 5px;
			
		
		}

	.about_skills{
		width:98%;
		margin-bottom:10px;
		margin-left: 1%;
		margin-right:1%;
		background-color: aliceblue;
		height:500px;
	}
	.about_skills h2{
		margin:9px;
		font-size: 30px;
		font-family:'Courier New', Courier, monospace;
		}
	
		.about_skills h4{
			margin:10px;
			float:left;
			font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
			font-size: 20px;
			background-color: rgb(248, 245, 245);
			border-radius: 5px;
			padding-top: 10px;
			padding-bottom: 10px;
			padding-left: 15px;
			padding-right: 15px;
		}

}









/*Skills section End */

/*Projects Section Start */
.Projects {
	position: relative;
	
    height: 600px;
    background-color: rgb(70, 83, 78);
    
    
}

/*Projects Section End */

/*Contat section start */
.Contact {
	position: relative;
	
    height: auto;
   background-image: url("images/cool-contact.png");
     display: flex;
	 flex-direction: column;
	 flex-wrap: wrap;
	 padding-bottom: 80px;

    
}
.Contact h1{
	text-align: center;
	padding-top: 4%;
	padding-bottom: 1%;
	font-size: 50px;
	color:  #58a8b8;
	font-family: monospace;

}

.form{
	align-self: center;
	width: 80%;
	background-color: #f2f2f2;
	 height: 70%;
	 padding:25px;
	 border-radius: 5px;
	 margin-bottom:10px;
	
}
input[type=text ], input[type=Email ], textarea {
	width: 100%; /* Full width */
	padding: 12px; /* Some padding */ 
	border: 1px solid #ccc; /* Gray border */
	border-radius: 4px; /* Rounded borders */
	box-sizing: border-box; /* Make sure that padding and width stays in place */
	margin-top: 6px; /* Add a top margin */
	margin-bottom: 16px; /* Bottom margin */
	resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }

  label{
	font-size: 20px;
	
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
	background-color: Yellow;
	color: rgb(0, 0, 0);
	padding: 12px 25px;
	border: none;
	font-size: 20px;
	border-radius: 4px;
	cursor: pointer;
	
	border-color: #000000;
	border-style: double;
	
	
  }

  input[type=submit]:hover {
	font-size: 22px;
		background-color: rgb(247, 247, 156);
  }
  

/*Contat section End */

/*this is Footer Section */
.footer {
	
	position: relative;
	 
    height: 300px;
   
   
    
}

.footer_sec{
	width:100%;
	display: flex;
	height:200px;
	flex-wrap: wrap;
	
	flex-direction:row;
	
}

.footer_about{
	width:64%;
	
}
.footer_about h2{
	margin: 15px;
	font-size: 30px;
}
.footer_about p{
	margin: 15px;
	font-size: 22px;
}


.footer_social{
	width:35%;
	
	
}

.footer_h2{
	margin-left:150px;
	margin-top:15px;
	font-size: 30px;
}

.footer_socail a img{
	
	padding-left:20px;
	padding-right:20px;
	margin-top:10px;
}
.footer_socail a img:hover{
	 background-color: rgb(247, 247, 156);
	
	
	margin-top:10px;
}

.last_p{
	
   
	text-align: center;
	margin-top:70px;
}

@media(max-width:1024px){
	.footer_sec{
		width:100%;
		display: flex;
		height:350px;
		flex-wrap: wrap;
		
		flex-direction:row;
		
	}
	
	.footer_about{
		width:100%;
		
	}
	.footer_about h2{
		margin: 25px;
		font-size: 30px;
	}
	.footer_about p{
		margin: 25px;
		font-size: 22px;
	}
	
	
	.footer_social{
		width:100%;
		
		
	}
	
	.footer_h2{
		margin-left: 25px;
		margin-top:10px;
		font-size: 30px;
	}
	
	.footer_socail a img{
		
		
		margin-top:15px;
		padding-left: 6px;
	}
	.footer_socail a img:hover{
		background-color: #58a8b8;
		
		
	}
	hr{
		display:none;
	}
	
	.last_p{

		text-align: center;
		margin-top:70px;
	}
}


/* this is nav section */
nav {
	position: fixed;
	z-index: 10;
	left: 0;
	right: 0;
	top: 0;
	font-family: 'Montserrat', sans-serif;
	padding: 0 5%;
	height: 90px;
	background-color: white;
}
nav .logo {
	float: left;
	width: 40%;
	height: 100%;
	display: flex;
	align-items: center;
	font-size: 30px;
	color: black;
	font-family:serif;
	font-weight: 28px;
}
nav .links {
	float: right;
	padding: 0;
	margin: 0;
	width: 60%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
nav .links li {
	list-style: none;
}
nav .links a {
	display: block;
	padding: 1em;
	font-size: 18px;
	font-weight: bold;
	color:black;
	text-decoration: none;
}
nav .links a:hover{
   color: rgb(251, 251, 1);
    background-color: #c1c1c1;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-weight: 500;
}
#nav-toggle {
	position: absolute;
	top: -100px;
}
nav .icon-burger {
	display: none;
	position: absolute;
	right: 5%;
	top: 50%;
	transform: translateY(-50%);
}
nav .icon-burger .line {
	width: 30px;
	height: 5px;
	background-color: #000000;
	margin: 5px;
	border-radius: 3px;
	transition: all .3s ease-in-out;
}
@media screen and (max-width: 768px) {
	nav{
		background-color: rgb(240, 242, 243);
	}
	nav .logo {
		float: none;
		width: auto;
        color: rgb(0, 0, 0);
		justify-content: center;
	}
	nav .links {
		float: none;
		position: fixed;
		z-index: 9;
		left: 0;
		right: 0;
		top: 100px;
		bottom: 100%;
		width: auto;
		height: auto;
		flex-direction: column;
		justify-content: space-evenly;
		background-color: rgba(42, 41, 41, 0.8);
		overflow: hidden;
		box-sizing: border-box;
		transition: all .5s ease-in-out;
	}
	nav .links a {
		font-size: 20px;
		color: white;
	}
	nav :checked ~ .links {
		bottom: 0;
	}
	nav .icon-burger {
		display: block;
	}
	nav :checked ~ .icon-burger .line:nth-child(1) {
		transform: translateY(10px) rotate(225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(3) {
		transform: translateY(-10px) rotate(-225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(2) {
		opacity: 0;
	}
	
}
/* this is nav section End */


